    
p.roig{
    color:red;
}

p.blau{
    color: blue;
}

h2.blau{
    color: blue;
}

.verd{
    color: green;
}

p.especial1 {
    color: blue;
  }

p.especial2 {
    color: red;
  }

p#uno{
    color: aqua;
}

p{
    color: red;
}

h1.blau{
    color: blue;
}

p.roig{
    color: red;
}